[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
"discord.py" = "==2.3.*"
gidgethub = "*"
httplib2 = "*"
matplotlib = "*"
oauth2client = "*"
parsedatetime = "*"
pillow = "*"
pydrive = "*"
skyfield = "*"
deepl = "*"

[dev-packages]

[requires]
python_version = "3.11"
