[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
APScheduler = "*"
"revolt.py" = "==0.1.*"
gidgethub = "*"
httplib2 = "*"
matplotlib = "*"
oauth2client = "*"
parsedatetime = "*"
pillow = "*"
pydrive = "*"
skyfield = "*"
deepl = "*"
unidecode = "*"

[dev-packages]

[requires]
python_version = "3.9"
